# Dependencies
node_modules
.pnpm-store

# Build output
dist

# Git
.git
.gitignore
.github

# Env (переменные передаются через compose)
.env
.env.*

# IDE
.idea
.vscode
*.swp
*.swo

coverage
README.md
*.log